<include file="public/admin_header"/>
<table cellspacing="0">
    <tr>
        <th>编号</th>
        <th>用户名</th>
        <th>登录次数</th>
        <th>最近登录ip</th>
        <th>最近登录时间</th>
        <th>操作</th>
    </tr>
    <foreach name="manages" item="manageI">
        <tr>
            <td>{$manageI.id}</td>
            <td>{$manageI.admin_user}</td>

            <td>{$manageI.login_count}</td>
            <td>{$manageI.last_ip}</td>
            <td>{$manageI['last_time']?date('Y-m-d H:i:s'):'暂无'}</td>
            <td><a href="{:U('Admin/Index/updateManage',array('id'=>$manageI['id']))}">修改</a> | <a href="{:U('Admin/Index/deleteManage',array('id'=>$manageI['id']))}"
                                                                     onclick="return confirm('你真的要删除这个管理员吗？') ? true : false">删除</a>
            </td>
        </tr>
    </foreach>


</table>
<div class="text-center">
    <div class="pagination">{$page}</div>
</div>



</body>
</html>