
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>main</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap.css">
    <script type="text/javascript" src="__PUBLIC__/js/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/bootstrap.min.js"></script>
    <import type="css" file="css.admin"/>
    <import type="js" file="js.admin_manage"/>
</head>
<body id="main">

<div class="map">
    管理首页 &gt;&gt; 管理员管理 &gt;&gt; <strong id="title">
    <switch name="ACTION_NAME">
        <case value="manage">管理员列表</case>
        <case value="addManage">新增管理员</case>
        <case value="updateManage">修改管理员</case>
    </switch>
</strong>
</div>

<ol>
    <li><a href="{:U('Admin/Index/manage')}" class="selected">管理员列表</a></li>
    <li><a href="{:U('Admin/Index/addManage')}">新增管理员</a></li>
</ol>
