
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>main</title>
    <import type="css" file="css.admin"/>
    <import type="js" file="js.admin_content"/>
    <script src="__PUBLIC__/ueditor/ueditor.config.js"></script>
    <script src="__PUBLIC__/ueditor/ueditor.all.js"></script>
</head>
<body id="main">


<div class="map">
    内容管理 &gt;&gt; 查看文档列表 &gt;&gt; <strong id="title">文档列表</strong>
</div>

<ol>
    <li><a href="{:U('Admin/Index/content')}" class="selected">文档列表</a></li>
    <li><a href="{:U('Admin/Index/addContent')}">新增文档</a></li>
</ol>
