
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>main</title>
    <import type="css" file="css.admin"/>
    <import type="js" file="js.admin_nav"/>
    <script src="__PUBLIC__/js/jquery-3.2.1.js"></script>
</head>
<body id="main">

<div class="map">
    内容管理 &gt;&gt; 设置网站导航 &gt;&gt; <strong id="title">导航列表</strong>
</div>

<ol>
    <li><a href="{:U('Admin/Index/nav')}" class="selected">导航列表</a></li>
    <li><a href="{:U('Admin/Index/add_nav')}">新增导航</a></li>
</ol>