@charset "utf-8";
/* CSS Document */
/*-------------------------------下面中部------------------------------------------------------*/
#content{width:980px;  margin:10px auto;  }


#content #c_left{width:705px;   float:left;}
#content #c_left .c_top{ width:100%; height:26px; border:1px solid #CCC; background-image:url(../images/top_bg.png);}
#content #c_left .c_top span{font-size:14px; font-weight:bold; margin:6px 3px 0 3px; line-height:26px; color:#6F9255;}
#content #c_left .c_entry{margin-top:10px; width:705px; height:120px; border-bottom:1px dashed #CCC;}
#content #c_left .c_entry .c_e_details{ float:right; width:550px; height:110px;}
#content #c_left .c_entry .c_e_details p{line-height:20px;}
#content #c_left .c_entry .c_e_details p a{font-weight:bold; margin-left:5px; color:#326598;}


#content #c_right{float:right; width:260px; height:150px;  border:1px solid #CCC; }
#content #c_right .c_top{ width:100%; height:26px; border-bottom:1px solid #CCC; background-image:url(../images/top_bg.png);}
#content #c_right .c_top h2{font-size:14px;line-height:26px; color:#6F9255;text-align:center;}
#content #c_right #chunk{margin:0 auto; width:220px; }
#content #c_right .c_r_chunk{  width:100px; height:33px; background-color:red; float:left; margin:5px 3px 0 3px;
							background-color:#EEF3F7;  border:1px solid #CCC;}
#content #c_right .c_r_chunk a{line-height:33px; margin:0 23px;  color:#989A9B;}


#content #c_left #c_l_paging{width:705px; height:50px; clear:both; position:relative;}
#content #c_left #c_l_paging ul{position:absolute; right:200px; top: 30px;}
#content #c_left #c_l_paging ul li{float:left;	width:26px;	height:20px;}
#content #c_left #c_l_paging ul li a{	display:block;	width:20px;	height:20px;	line-height:20px;	border:1px solid #333;
	text-align:center;}
#c_l_paging ul li a:hover,#c_l_paging ul li a.selected { background-color:#000;font-weight:bold;	color:#fff;}
#content #c_left #c_l_paging ul li.c_l_p_paging{width:85px;	height:20px;}
#content #c_left #c_l_paging ul li a.paging{width:80px;	height:20px;}


